@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}



    <video autoplay muted loop id="myVideo">
        <source src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/Infiniux_Brand_Pattern_Header_HQ_S2.mp4" type="video/mp4">

    </video>
    <div id="contentAlign">
        <div class="content2">
            <div class="infiniuxFont">
                <h1>Welcome to the</h1>
                <img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/themes/infiniux/public/images/logo.png" alt="Infiniux">
                <h1>Survey!</h1>
            </div>

            <div class="logoAlign">

                <div class="col-12 col-md-10">
                    <div class="portfolio-grid row">
                        <div class="portfolio-grid__item col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center match-height" style="height: 236px;">
                            <a onclick="location.href='@Url.Action("quizStart", "Home",new { companyID = 1 })'" target="_blank"><img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/portfolio-logo-4.png" alt="" class="portfolio-grid__item__image aos-init aos-animate" data-aos="fade" data-aos-delay="450"></a>
                        </div>

                        <div class="portfolio-grid__item col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center match-height" style="height: 236px;">
                            <a  onclick="location.href='@Url.Action("quizStart", "Home", new{companyID = 2 })'" target="_blank"><img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/portfolio-logo-1-1.png" alt="" class="portfolio-grid__item__image aos-init aos-animate" data-aos="fade" data-aos-delay="0"></a>
                        </div>
                        <div class="portfolio-grid__item col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center match-height" style="height: 236px;">
                            <a  onclick="location.href='@Url.Action("quizStart", "Home", new {companyID = 3})'" target="_blank"><img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/portfolio-logo-3-1.png" alt="" class="portfolio-grid__item__image aos-init aos-animate" data-aos="fade" data-aos-delay="300"></a>
                        </div>
                        <div class="portfolio-grid__item col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center match-height" style="height: 236px;">
                            <a  onclick="location.href='@Url.Action("quizStart", "Home", new {companyID = 3 })'" target="_blank"><img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/portfolio-logo-2-1.png" alt="" class="portfolio-grid__item__image aos-init aos-animate" data-aos="fade" data-aos-delay="150"></a>
                        </div>
                        <div class="portfolio-grid__item col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center match-height" style="height: 236px;">
                            <a onclick="location.href='@Url.Action("quizStart", "Home", new {companyID = 4 })'" target="_blank"><img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/Intelgica.png" alt="" class="portfolio-grid__item__image aos-init aos-animate" data-aos="fade" data-aos-delay="750"></a>
                        </div>
                        <div class="portfolio-grid__item col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center match-height" style="height: 236px;">
                            <a onclick="location.href='@Url.Action("quizStart", "Home", new {companyID = 5 })'" target="_blank"><img src="https://2w1tdo1pewgg3twxhe42ygwx-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/portfolio-logo-5.png" alt="" class="portfolio-grid__item__image aos-init aos-animate" data-aos="fade" data-aos-delay="600"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <h4>Do you know enough about your own company? Lets find out, it's time to #PowerUP </h4>
                <div><h6>note: You need to click on the company for which you want to take the survey. </h6></div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Admin", "Home")'">Admin Login </button>
                </div>
            </div>
        </div>
    </div>
   

