
@model AccuVQuiz.Models.ViewModel


@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div  class="backround two2">
        <div id="home">

            <p>
                <div id="finalPage">
                    Thank you for completing the survey. Here is the survey data.
               </div>
</p>

            
                @foreach (var item in Model.surveyList)

                {
            <div id="finalPage">
            <h3 style="text-decoration:underline;">@item.Question</h3>
            </div>
            <div id="finalPagePercentages">
                <p>@item.O1_% of people chose @item.Option1</p>
                <p>@item.O2_% of people chose @item.Option2</p>
                <p>@item.O3_% of people chose @item.Option3</p>
                <p>@item.O4_% of people chose @item.Option4</p>
                <p>@item.O5_% of people chose @item.Option5</p>
            </div>

            }


        </div>





    </div>