@model AccuVQuiz.Models.Question
@{
    Layout = null;
}

    <p>
        @Model.Question1
        
        

    </p>

<div id="optionData">
    <div class="textAlign">
        <div class="funkyradio-default">
            <div>
                <input id="option1" type="checkbox" name="option1" />
                <label for="option1">@Model.Option1</label>
            </div>
            <div>
                <input id="option2" type="checkbox"  name="option2" />
                
                <label for="option2">@Model.Option2</label>
            </div>
            <div>
                <input id="option3" type="checkbox"  name="option3" />
               
                <label for="option3">@Model.Option3</label>
            </div>
            <div>
                <input id="option4" type="checkbox"  name="optio4" />
                
                <label for="option4">@Model.Option4</label>
            </div>
            <div>
                <input id="option5" type="checkbox"  name="option5" />
                
                <label for="option5">@Model.Option5</label>
            </div>
        </div>
    </div>
</div>
