@model IEnumerable<AccuVQuiz.Models.Question>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<div class="home">
<h2>List of Questions</h2>


        <table class="table">
    <tr>
        <th>
            @Html.Label("Company")
        </th>
        <th>
            @Html.Label("Question")
        </th>
        <th>
            @Html.Label("Option 1")
        </th>
        <th>
            @Html.Label("Option 2")
        </th>
        <th>
            @Html.Label("Option 3")
        </th>
        <th>
            @Html.Label("Option 4")
        </th>
        <th>
            @Html.Label("Option 5")
        </th>

        <th></th>
    </tr>
    </div>

@foreach (var item in Model) {
    <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option5)
        </td>
      
        <td>
            
        </td>
    </tr>
}

</table>
